<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mes.mac.mng.service.impl.MachineMapper">
	


	
	<insert id="insertMachine">
		<![CDATA[
			INSERT INTO MACHINE 
				( MAC_CODE
				  , MAC_NAME
				  , MAC_DIV
				  , MAC_SIZE
				  , MODEL
				  , PRO_OPER
				  , WORKER
				  , USE
				  , NOM_CAP
				  , USING_ENERGY
				  , SAFETY
				  , MAC_PRO_DATE
				  , BUY_DATE
				  , BUY_PRICE
				  , LINE_NUM
				  , MAC_LOADAGE
				  , MAC_STD_TEMP )
			VALUES ( #{macCode}
				  , #{macName}
				  , #{macDiv}
				  , #{macSize}
				  , #{model}
				  , #{proOper}
				  , #{worker}
				  , #{use}
				  , #{nomCap}
				  , #{usingEnergy}
				  , #{safety}
				  , #{macProDate}
				  , #{buyDate}
				  , #{buyPrice}
				  , #{lineNum}
				  , #{macLoadage}
				  , #{macStdTemp} )
		]]>
	</insert>
	
	<update id="updateMachine">
		<![CDATA[
			UPDATE MACHINE
			SET MAC_CODE=#{macCode}
				, MAC_NAME=#{macName}
				, MAC_DIV=#{macDiv}
				, MAC_SIZE=#{macSize}
				, MODEL=#{model}
				, PRO_OPER=#{proOper}
				, WORKER=#{worker}
				, USE=#{use}
				, NOM_CAP=#{nomCap}
				, USING_ENERGY=#{usingEnergy}
				, SAFETY=#{safety}
				, MAC_PRO_DATE=#{macProDate}
				, BUY_DATE=#{buyDate}
				, BUY_PRICE=#{buyPrice}
				, LINE_NUM=#{lineNum}
				, MAC_LOADAGE=#{macLoadage}
				, MAC_STD_TEMP=#{macStdTemp}
						WHERE MAC_CODE=#{macCode}
				]]>
	</update>
	
	<delete id="deleteMachine">
		<![CDATA[
			DELETE FROM MACHINE 
						WHERE MAC_CODE=#{macCode}
				]]>
	</delete>
	
	<select id="selectMachine" resultType="mes.common.modal.service.MachinemagVO">
		<![CDATA[
			SELECT
				MAC_CODE
				, MAC_NAME
				, MAC_DIV
				, MAC_SIZE
				, MODEL
				, PRO_OPER
				, WORKER
				, USE
				, NOM_CAP
				, USING_ENERGY
				, SAFETY
				, MAC_PRO_DATE
				, BUY_DATE
				, BUY_PRICE
				, LINE_NUM
				, MAC_LOADAGE
				, MAC_STD_TEMP
			FROM MACHINE
						WHERE MAC_CODE=#{macCode}
				]]>
	</select>
	
	<select id="selectMachineList" parameterType="mes.mac.mng.service.MachinemagVO" resultType="egovMap">
SELECT * FROM (
	SELECT A.*, ROWNUM RNUM FROM (
				SELECT
								MAC_CODE
								, MAC_NAME
								, MAC_DIV
								, MAC_SIZE
								, MODEL
								, PRO_OPER
								, WORKER
								, USE
								, NOM_CAP
								, USING_ENERGY
								, SAFETY
								, MAC_PRO_DATE
								, BUY_DATE
								, BUY_PRICE
								, LINE_NUM
								, MAC_LOADAGE
								, MAC_STD_TEMP
						FROM MACHINE
				WHERE 1=1
				<if test="searchKeyword != null and searchKeyword != ''">
					<if test="searchCondition == 0">AND
						MAC_CODE = #{searchKeyword}
					</if>
					<if test="searchCondition == 1">AND
						MAC_NAME LIKE '%' || #{searchKeyword} || '%'
					</if>
				</if>
					ORDER BY 
						MAC_CODE DESC
		
		<![CDATA[					
	) A WHERE ROWNUM <= #{lastIndex}
)WHERE RNUM > #{firstIndex}
]]>
	</select>	
	<select id="selectMachineListTotCnt" parameterType="mes.mac.mng.service.MachinemagVO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM MACHINE
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					MAC_CODE = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					MAC_NAME LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if>
	</select>

</mapper>
