@charset "UTF-8";

/* 부트스트랩 input박스 최소사이즈 지정 */
.form-control {
	min-width: 150px;
}

/* tui 캘린더 생성시 다른 css에 묻힘 방지 */
.tui-datepicker {
	z-index: 100;
}

/* .table 클래스안에서 tui 캘린더 디자인 깨짐 방지 */
.tui-calendar td, .tui-calendar th {
    border-top: 0px;
    height: 39px;
    padding: 0px;
    vertical-align: middle;
    line-height: 1.15;
   
}
.tui-calendar thead td, .tui-calendar thead th {
	border-bottom: 0px;
	vertical-align: middle;
}

.tui-calendar .tui-calendar-header {
	border-bottom: 0px;
}
